<div class="row">
  <div class="col-md-12">
    <h1>Nombre de Receta</h1>
  </div>
</div>
<br>
<div class="row">
    <div class="col-md-12">
        <div class="btn-group dropdown">
            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" role="button" id="navbarDropdownMenuLink1" data-bs-toggle="dropdown" aria-expanded="false">
                Ver receta <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
                <li><a class="dropdown-item" href="#">Añadir Ingredientes a Lista de  Compras</a></li>
                <li><a class="dropdown-item" href="#">Editar Receta</a></li>
                <li><a  class="dropdown-item" href="#">Borrar Receta</a></li>
            </ul>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-12">
        Descripción
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-12">
        Ingredientes
    </div>
</div>